name: Run tests
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - name: Use Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          cache-dependency-path: |
            example/package.json
            package.json
          node-version: "18.x"
          cache: "npm"
      - run: npm i
      - run: npm ci
      - run: cd example && npm i && cd ..
      - run: npm test
